<div class="post-text" style = "margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);">
                        <img class="img-responsive img-border" src="assets/images/logo.png" alt="" style="margin-bottom:10px;">
  <h1 style = "text-align:center;">SkillSquad</h1>
  <h4 style = "text-align:center;">Find your squad. Improve your skills.</h4>
 <div style="margin-left:83px;">
  <label style = "text-align:center;"> Username <br><input #po /></label><br>
    <label style = "text-align:center;"> Password <br><input type="password" #postTitle /></label><br>
    <button style="margin-left:70px;" [routerLink]="['/usertype']">Login</button>
</div>
</div>