<navbar> </navbar>

<div class = "post-text">
    <button (click)="toggleShow();" class="accordion">Make a post</button>
    <div *ngIf="show">
        <label> Type</label><br>


   
     <select  #postType name="postType">
  <option value="post">general post</option>
    <option value="assigment">assignment</option>
      <option value="lesson">lesson</option>
  <option value="submission">submission</option>

</select><br>
    <label> Title <br><textarea #postTitle cols=122 rows="1"></textarea></label><br>
  
    <label> Message <br><textarea #postContent rows="4" cols=122></textarea></label><br>
    <button (click) = "createPost(postTitle.value, postContent.value, postType.value); postTitle.value= ''; postContent.value='';">Post</button>
</div>

</div>



<div *ngFor="let post of postObjects">
    <div *ngIf="(post.type == 'post' || post.type == 'submission')">

    <div class="post-text">
        <h3><b> {{post.title}} </b> </h3>
        <h4>{{post.created | date: 'MM/dd/yy'}} {{post.created | date: 'HH:mm' }} by {{post.username}} </h4>
        
        <p>{{post.content}} </p>
        <hr>
        <p> <img id="heart" src="/assets/images/heart.png" alt="Smiley face" height="20" width="20">{{post.likes}} </p>
                    <h4>Comments</h4>
        <div class = "comment-text">
        <p> {{post.comment}} </p>
           <label> <br><input #newComment/></label><br>
               <button (click) = "createPost(postTitle.value, postContent.value); postTitle.value= ''; postContent.value='';">Commment</button>

        </div>
    </div>
    </div>
</div>

