<navbar> </navbar>

<div *ngFor="let user of userObjects">
  <div class ="post-text">
    <h3> {{user.first_name}} {{user.last_name}} </h3>
    <div> <b> Type: </b> {{user.user_type}} <br>
    <b> Email: </b> {{user.email}}<br>
    <b> User: </b> {{user.username}}<br>
    </div>
  </div>
</div>
                      
































    <!--
    <div class = "post-text" >
                      <h1> Nancy Mariano</h1>
                      <img class="img-responsive img-border img-left" src="assets/images/nancy1.jpg" alt="" style="margin-bottom:10px;">

                      <div>
            Account: Instructor
            <br>
            Name:Nancy Mariano
            <br>
            Email: dancepance@dance.com
            <br>
                        Class: Dancing with Nancy
            <br>
            Class Code: dance2073
                        <br>
                      Date Registered: 4/25/17
                      <br>
            <br>
                      <button> Change Password</button><button>Update information</button>
                    </div>
                    </div>
-->








                    